/node_modules
/storage/*.key
/public/css
/public/fonts
/public/hot
/public/js
/public/storage
/public/uploads
/public/mix-manifest.json
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
/.phpunit.cache
pgdump*.sql
pg_dump_*.sql