parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\InvoiceToPdfController\\:\\:footer\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/Api/InvoiceToPdfController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Api\\\\InvoiceToPdfController\\:\\:toHtml\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/Api/InvoiceToPdfController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Auth\\\\RegisterController\\:\\:create\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisterController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Auth\\\\RegisterController\\:\\:validator\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisterController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Auth\\\\RegisterController\\:\\:validator\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/RegisterController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:destroy\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:edit\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:store\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\BuyerController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/BuyerController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CompanyController\\:\\:edit\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/CompanyController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CompanyController\\:\\:jsonList\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/CompanyController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CompanyController\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/CompanyController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\CompanyController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/CompanyController.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:destroy\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:edit\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:store\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\InvoiceController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/InvoiceController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\PanelController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/PanelController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:create\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:destroy\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:edit\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:jsonList\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:store\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\ProductController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/ProductController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Settings\\\\CompanyInvoiceNumberController\\:\\:index\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/Settings/CompanyInvoiceNumberController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Settings\\\\CompanyInvoiceNumberController\\:\\:rules\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Http/Controllers/Settings/CompanyInvoiceNumberController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\Settings\\\\CompanyInvoiceNumberController\\:\\:update\\(\\) has no return type specified\\.$#"
			count: 1
			path: app/Http/Controllers/Settings/CompanyInvoiceNumberController.php

		-
			message: "#^Method App\\\\Models\\\\Invoice\\:\\:getPaymentList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Models/Invoice.php

		-
			message: "#^Method App\\\\Models\\\\Invoice\\:\\:getTotalSum\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Models/Invoice.php

		-
			message: "#^Method App\\\\Models\\\\Invoice\\:\\:statusList\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: app/Models/Invoice.php

