# vendor/bin/phpstan analyse --configuration=phpstan.neon
parameters:
    phpVersion: 80000
    bootstrapFiles:
        - _ide_helper.php
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::[$a-zA-Z0-9\\_]+#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::[$a-zA-Z0-9\\_]+#'
        - '#Access to an undefined property Illuminate\\Http\\Request::[$a-zA-Z0-9\\_]+#'
    level: 5
    paths:
        - app
        - config
        - tests
