parameters:
    level: 8
    paths:
        - app
        - config
        - tests
        - database/factories
        - database/seeders
        - routes
    strictRules:
        disallowedShortTernary: false
        dynamicCallOnStaticMethod: false

    # larastan
    noEnvCallsOutsideOfConfig: false
