a, button {
  cursor: pointer;
}

$fa-font-path: '../../../public/fonts';

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/selectize/dist/css/selectize.css';

@import "wizard";

html, body {
  background-color: #fff;
  color: #636b6f;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.btn-like-link {
  background: transparent;
  border: 0;
  padding: 0;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.small {
  font-size: .6rem;
}

.selectize-dropdown {
  margin: -7px 0 0 0;
  position: relative;
  top: 0 !important;
}

.amount_input {
  max-width: 60px;
}

#welcome-page {
  .title {
    font-size: 4em;
  }
}

.container {
  padding-right: 5px;
  padding-left: 5px;
}

.container-fluid ul {
  display: inline-flex;
  list-style: none;
  margin-bottom: 0;

  li {
    padding: .5rem .5rem .5rem 0;
  }
}

.container-fluid li {
  float: left;
}

.container-fluid li button,
.container-fluid li a {
  font-weight: bold;
}

.btn.nohover:hover {
  cursor: default !important;
}

ul.nav-list {
  display: block;
  padding: 0;
}

.breadcrumb {
  margin-top: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}

::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}

:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: map-get($grid-breakpoints, md)) {
  ul.nav-list {
    display: flex;
    flex-direction: column;
  }

  ul.nav-list li {
    margin: 0 auto;
  }
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.btn-color-636b6f {
  color: #636b6f;
}

.btn-color-636b6f:hover {
  background-color: #f7f7f9;
  color: #636b6f;
}

.padding-20 {
  padding: 20px;
}

.webpage-link.navbar-brand {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.table th, .table td {
  padding: .3rem .75rem;
}

@import "invoice";
@import "colours";

.space-nowrap {
  white-space:nowrap;
}