body.invoice-pdf {
  .border-box {
    border: 1px solid #e0e0e0;
  }

  .border-box-content {
    display: flex;

    .border-box {
      flex: 1;
    }
  }

  thead {
    display: table-header-group
  }
  tfoot {
    display: table-row-group
  }
  tr {
    page-break-inside: avoid
  }

  .table {
    font-size: 12px
  }

  .table th, .table td {
    padding: 5px;
  }
}

.padding-20 {
  padding: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.to-pay {
  font-size: 30px;
}

#invoice-product-list {
  margin-top: 10px;
}

#invoice-number {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.tax-table {
  page-break-inside: avoid;
}

.summary {
  & {
    page-break-inside: avoid;
  }

  & > div {
    padding: 0 10px;
  }
}